.#{$prefix}{ // query builder
    &-item{
        &__group{
            background-color: var(--background-rgba);
            border-radius: 0.2rem;
            border: 1px solid var(--border-color);
            margin-left: 107px;
            padding-left: 5px;
            padding-bottom: 5px;
            margin-top: 5px;
            padding-right: 10px;
            margin-bottom: 5px;
            & ~ .qb-item__group{
                margin-top: 10px;
            }
            
            & > .qb-rule{
                    margin-left: 84px;
                .qb-rule-operator{
                    position: absolute;
                    left: -185px;
                    top: 0;
                }
                .qb-rule-handle{
                    visibility: hidden;
                    pointer-events: none;
                }
            }
        }
    }
    &-rule{
        display: flex;
        flex-wrap: wrap;
        gap: .2rem;
        position: relative;
        &-operator{
            width: 80px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            // position: absolute;
            // left: -90px;
            // top: 10px;
            select{
                width: 100%;
            }
        }
        &-container{
            padding: 0 5px;
            // margin: 5px 0;
            display: flex;
            // flex-wrap: wrap;
            align-items: center;
            gap: .5rem;
            justify-content: flex-end;
        }
        &-handle{
            width: 10px;
            height: 50px;
            background-image: url(../../src/assets/drag.svg);
            cursor: pointer;
            background-position: center center;
            background-size: 16px;
            background-repeat: no-repeat;
        }
        &-name{
            border: 1px solid var(--border-color);
            border-radius: 0.2rem;
            display: flex;
            padding: 0.5em 0.75em;
            background-color: var(--background);
            gap: 0.5rem;
            font-size: var(--font-size);
        }
        &-actions{
            margin-left: auto;
            button{
                width: 32px;
                height: 32px;
                justify-content: center;
                align-items: center;
                display: flex;
                img{
                    height: 16px;
                }   
            }
        }
    }
    &-actions{
        margin-left: 100px;
        display: flex;
        gap: .2rem;
        margin-top: 1rem;
        justify-content: space-between;
        &__add-rule{
            justify-content: space-between;
            &-rule{
                width: 65%;
                gap: 0.5rem;
                select{
                    width: 70%;
                }
            }
            &-group{
                width: 30%;
            }
        }
    }
}