@charset "UTF-8";
@use "sass:math";

$prefix: "query-builder";

:root{
    --border-color: #ccc;
    --text-color: #333;
    --background: #f5f5f5;
    font-family: sans-serif;
}

@import "./components/query-builder";
@import "./components/query-builder-item";
@import "./components/elements/forms";