select, input,
.input-field, button, .btn {
    padding: 0.5em 0.75em;
    border-radius: 0.2em;
    border: 1px solid var(--border-color);
    color: var(--text-color);
    font-size: 1rem;
}

button, .btn{
    background: var(--background);
}