select, input,
.input-field, button, .btn {
    padding: 0.5em 0.75em;
    border-radius: 0.2em;
    border: 1px solid var(--border-color);
    color: var(--text-color);
    font-size: var(--font-size);
    font-weight: 100;
    &[type=color]{
        padding: 0;
        min-height: 34px;
    }

}

select{
    cursor: pointer;
}

button, .btn{
    background: var(--background);
    cursor: pointer;
    font-size: var(--font-size);
}